@media (max-width: 349px) {
  .project-header {
    font-size: 50px;
  }
  .project-sec-header {
    font-size: 26px;
  }

  .slider {
    margin: 60px auto 0px;
    max-width: 250px;
    height: 250px;
  }

  .prev-btn {
    top: 25%;
    left: 0%;
  }

  .next-btn {
    top: 25%;
    right: 0%;
  }
  .arr-btn {
    height: 40px;
    width: 40px;
    font-size: 25px;
  }

  .slide-active {
    font-size: 36px;
    gap: 30px;
  }
  .project-desc {
    height: 150px;
    width: 150px;
  }

  .project-name {
    font-size: 25px;
  }
  .project-content {
    display: none;
  }
  .slide-wrap {
    --start-pos: 500px;
    --end-pos: -500px;
    gap: 50px;
  }
}

@media (max-width: 599px) and (min-width: 350px) {
  .project-header {
    font-size: 54px;
  }
  .project-sec-header {
    font-size: 28px;
  }

  .slider {
    margin: 70px auto 0;
    max-width: 300px;
    height: 250px;
  }

  .prev-btn {
    top: 25%;
    left: 0%;
  }

  .next-btn {
    top: 25%;
    right: 0%;
  }
  .arr-btn {
    height: 40px;
    width: 40px;
    font-size: 25px;
  }

  .slide-active {
    font-size: 36px;
    gap: 30px;
  }
  .project-desc {
    height: 150px;
    width: 150px;
  }

  .project-name {
    font-size: 25px;
  }
  .project-content {
    display: none;
  }
  .slide-wrap {
    gap: 50px;
    --start-pos: 550px;
    --end-pos: -550px;
  }
}

@media (max-width: 799px) and (min-width: 600px) {
  .project-header {
    font-size: 60px;
  }
  .project-sec-header {
    font-size: 30px;
  }

  .slider {
    margin: 70px auto 0;
    max-width: 500px;
    height: 350px;
  }

  .prev-btn {
    top: 25%;
    left: 0%;
  }

  .next-btn {
    top: 25%;
    right: 0%;
  }
  .arr-btn {
    height: 60px;
    width: 60px;
    font-size: 35px;
  }

  .slide-active {
    font-size: 36px;
    gap: 30px;
  }
  .project-desc {
    height: 200px;
    width: 200px;
  }

  .project-name {
    font-size: 30px;
  }
  .project-content {
    display: none;
  }
  .slide-wrap {
    gap: 80px;
    --start-pos: 820px;
    --end-pos: -820px;
  }
}

@media (max-width: 999px) and (min-width: 800px) {
  .project-header {
    font-size: 68px;
  }
  .project-sec-header {
    font-size: 30px;
  }

  .slider {
    margin: 50px auto 0;
    max-width: 600px;
    height: 400px;
  }

  .prev-btn {
    top: 25%;
    left: 0%;
  }

  .next-btn {
    top: 25%;
    right: 0%;
  }
  .arr-btn {
    height: 60px;
    width: 60px;
    font-size: 35px;
  }
  .slide-active {
    font-size: 36px;
    gap: 30px;
  }
  .project-desc {
    height: 220px;
    width: 220px;
  }

  .project-name {
    font-size: 30px;
  }
  .project-content {
    font-size: 12px;
  }
  .slide-wrap {
    gap: 80px;
    --start-pos: 800px;
    --end-pos: -800px;
  }
}

@media (max-width: 1199px) and (min-width: 1000px) {
  .project-header {
    font-size: 72px;
  }
  .project-sec-header {
    font-size: 34px;
  }

  .slider {
    margin: 80px auto 0;
    max-width: 600px;
    height: 400px;
  }

  .prev-btn {
    top: 25%;
    left: 0%;
  }

  .next-btn {
    top: 25%;
    right: 0%;
  }
  .arr-btn {
    height: 60px;
    width: 60px;
    font-size: 35px;
  }
  .slide-active {
    font-size: 36px;
    gap: 40px;
  }
  .project-desc {
    height: 250px;
    width: 250px;
  }

  .project-name {
    font-size: 35px;
  }
  .project-content {
    font-size: 14px;
  }
  .slide-wrap {
    gap: 100px;
    --start-pos: 850px;
    --end-pos: -850px;
  }
}

@media (min-width: 1200px) {
  .project-header {
    font-size: 80px;
  }
  .project-sec-header {
    font-size: 35px;
  }

  .slider {
    margin: 50px auto 20px;
    max-width: 700px;
    height: 500px;
  }

  .prev-btn {
    top: 25%;
    left: 0%;
  }

  .next-btn {
    top: 25%;
    right: 0%;
  }
  .arr-btn {
    height: 80px;
    width: 80px;
    font-size: 40px;
  }

  .slide-active {
    font-size: 40px;
    gap: 40px;
  }
  .project-desc {
    height: 250px;
    width: 250px;
  }

  .project-name {
    font-size: 35px;
  }
  .project-content {
    font-size: 14px;
  }
  .slide-wrap {
    gap: 100px;
    --start-pos: 850px;
    --end-pos: -850px;
  }
}

.projects-container {
  max-width: 100%;
}

.project {
  max-height: max-content;
  max-width: 100%;
  position: relative;
}

.header-txt {
  position: relative;
  z-index: 1;
}

.project-header {
  color: transparent;
  background-clip: text;
  -webkit-text-stroke: 2px rgb(90, 90, 90);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-sec-header {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  background: linear-gradient(to right, rgb(161, 161, 161), rgb(73, 251, 53));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: transparent;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  line-height: 1.5;
  background-color: rgb(28, 28, 28);
}

.project-img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-active {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide-wrap {
  display: flex;
  justify-items: stretch;
  align-items: start;
  justify-content: center;

  animation: linear infinite 30s sliding;
}

.slide-wrap:hover {
  animation-play-state: paused;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.project-name {
  background: linear-gradient(
    to right,
    rgb(177, 177, 177) 10%,
    rgb(92, 255, 73) 90%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.arr-btn {
  position: absolute;

  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: rgb(17, 17, 17);
  color: rgb(55, 160, 43);
}

.arr-btn:hover {
  background-color: rgb(34, 34, 34);
  transition: all 1s;
  color: black;
}

.project-desc {
  position: relative;
  overflow: hidden;

  border-radius: 10px;
}

.project-content {
  position: absolute;
  top: -100%;
  transition: all 1s;
  color: rgb(231, 231, 231);
  text-align: center;
}

.project-desc:hover .project-img {
  opacity: 0.6;
}

.project-desc:hover .project-content {
  top: 30px;
  left: 10px;
  right: 10px;
}

@keyframes sliding {
  0% {
    transform: translateX(var(--start-pos));
  }

  50% {
    transform: translateX(var(--end-pos));
  }

  100% {
    transform: translateX(var(--start-pos));
  }
}
