@media (max-width: 349px) {
  .footer-container {
    margin-top: 20px;

    gap: 20px;
  }

  .footer-details {
    padding: 0 20px;

    font-size: 12px;
    gap: 10px;
  }

  .footer-rights {
    height: 20px;

    justify-content: space-between;

    padding: 0 10px;
    font-weight: 400;
  }
  .footer-logo {
    font-size: 18px;
  }

  .footer-rights::after {
    box-shadow: 0 0 450px 40px rgb(156, 247, 146);
  }

  .footer-reserve {
    font-size: 14px;
  }
  .footer-icons-container {
    gap: 20px;
  }

  .footer-icons {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 599px) and (min-width: 350px) {
  .footer-container {
    margin-top: 20px;

    gap: 25px;
  }

  .footer-details {
    padding: 0 20px;
    font-size: 14px;
    gap: 20px;
  }

  .footer-rights {
    height: 20px;

    gap: 20px;

    padding: 0 10px;
    font-weight: 400;
  }
  .footer-rights::after {
    box-shadow: 0 0 400px 40px rgb(156, 247, 146);
  }

  .footer-logo {
    font-size: 20px;
  }

  .footer-reserve {
    font-size: 14px;
  }
  .footer-icons-container {
    gap: 20px;
  }

  .footer-icons {
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 799px) and (min-width: 600px) {
  .footer-container {
    margin-top: 30px;

    gap: 35px;
  }

  .footer-details {
    padding: 0 40px;
    font-size: 18px;
    gap: 40px;
  }

  .footer-rights {
    height: 20px;

    gap: 20px;

    padding: 0 10px;
    font-weight: 400;
  }
  .footer-rights::after {
    box-shadow: 0 0 400px 50px rgb(156, 247, 146);
  }

  .footer-logo {
    font-size: 20px;
  }

  .footer-reserve {
    font-size: 14px;
  }
  .footer-icons-container {
    gap: 25px;
  }

  .footer-icons {
    height: 25px;
    width: 25px;
  }
  .footer-icons svg {
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 999px) and (min-width: 800px) {
  .footer-container {
    margin-top: 50px;

    gap: 45px;
  }

  .footer-details {
    padding: 0 40px;
    font-size: 18px;
  }

  .footer-icons-container {
    gap: 25px;
  }

  .footer-icons {
    height: 30px;
    width: 30px;
  }
  .footer-icons svg {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 1199px) and (min-width: 1000px) {
  .footer-container {
    margin-top: 60px;

    gap: 55px;
  }

  .footer-details {
    padding: 0 40px;
    font-size: 22px;
  }

  .footer-icons-container {
    gap: 25px;
  }

  .footer-icons {
    height: 35px;
    width: 35px;
  }
  .footer-icons svg {
    height: 35px;
    width: 35px;
  }
}

@media (min-width: 1200px) {
  .footer-container {
    margin-top: 60px;

    gap: 65px;
  }

  .footer-details {
    padding: 0 40px;
    font-size: 22px;
  }

  .footer-icons-container {
    gap: 35px;
  }

  .footer-icons {
    height: 35px;
    width: 35px;
  }
  .footer-icons svg {
    height: 35px;
    width: 35px;
  }
}

.footer {
  max-height: max-content;

  max-width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-icons-container {
  display: flex;

  align-items: center;
  justify-content: center;
}

.footer-icons {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.footer-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    to bottom,
    rgb(177, 177, 177) 20%,
    rgb(98, 158, 92) 50%
  );
  gap: 20px;
  background-clip: text;
  word-break: break-all;
  -webkit-text-fill-color: transparent;
  border-top: 1px solid rgb(58, 58, 58);
  margin: 0 20px;
  padding: 50px 0;
}

.fiverr {
  fill: rgb(25, 173, 25);
  transition: ease-in 1s;
}
.github {
  fill: black;
  transition: ease-in 1s;
}
.instagram {
  transition: ease-in 1s;
  fill: url(#insta-gradient);
}

.linkedin {
  transition: ease-in 1s;
  fill: rgb(0, 119, 181);
}

:where(a.github, a.fiverr, a.linkedin, a.instagram):hover {
  transition: ease-in 1s;
  fill: white;
}

.footer-inner-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
