@media (max-width: 349px) {
  .sidebar {
    display: flex;
    justify-content: center;
  }
  .side-card {
    height: 500px;
    width: 250px;
    gap: 30px;
    align-items: center;
    background-color: rgb(34, 34, 34);
    box-shadow: 0 0 5px 1px rgb(185, 255, 71);
    color: rgb(236, 230, 230);
  }
  .side-img {
    height: 200px;
  }
  .img-container {
    height: 120px;
    width: 120px;
  }
  .side-name {
    font-size: 24px;
  }
  .side-specialize,
  .side-location {
    font-size: 12px;
    font-weight: bold;
  }
  .side-desc {
    font-size: 18px;
  }

  .side-icons {
    height: 28px;
    width: 30px;
  }
  .side-icons svg {
    height: 12px;
    width: 12px;
  }
  .side-icons-container {
    gap: 20px;
  }
  .side-btn {
    width: 120px;
    height: 30px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 12px;
    transition: all 1s;
    font-weight: 300;
  }
}

@media (max-width: 599px) and (min-width: 350px) {
  .sidebar {
    display: flex;
    justify-content: center;
  }
  .side-card {
    height: 550px;
    width: 330px;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    box-shadow: 0 0 5px 1px rgb(185, 255, 71);
    color: rgb(236, 230, 230);
  }
  .side-img {
    height: 270px;
  }
  .img-container {
    height: 150px;
    width: 140px;
  }
  .side-name {
    font-size: 26px;
  }
  .side-specialize,
  .side-location {
    font-size: 14px;
    font-weight: bold;
  }
  .side-desc {
    font-size: 20px;
  }

  .side-icons {
    height: 35px;
    width: 35px;
  }
  .side-icons svg {
    height: 15px;
    width: 15px;
  }
  .side-icons-container {
    gap: 20px;
  }
  .side-btn {
    width: 150px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    transition: all 1s;
    font-weight: 300;
  }
}

@media (max-width: 799px) and (min-width: 600px) {
  .sidebar {
    display: flex;
    justify-content: center;
  }

  .side-card {
    height: 550px;
    width: 380px;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    box-shadow: 0 0 5px 1px rgb(185, 255, 71);
    color: rgb(236, 230, 230);
  }
  .side-img {
    height: 270px;
  }
  .img-container {
    height: 150px;
    width: 140px;
  }
  .side-name {
    font-size: 30px;
  }
  .side-specialize {
    font-size: 14px;
    font-weight: bold;
  }
  .side-desc {
    font-size: 24px;
  }

  .side-icons {
    height: 40px;
    width: 40px;
  }
  .side-icons svg {
    height: 20px;
    width: 20px;
  }
  .side-icons-container {
    gap: 20px;
  }
  .side-btn {
    width: 180px;
    height: 45px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: all 1s;
    font-weight: 500;
  }
}
@media (max-width: 999px) and (min-width: 800px) {
  .side-card {
    height: 550px;
    width: 250px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    background-color: rgb(34, 34, 34);
    box-shadow: 0 0 5px 1px rgb(185, 255, 71);
    color: rgb(236, 230, 230);
    top: 2%;
  }
  .side-img {
    height: 320px;
  }
  .img-container {
    height: 160px;
    width: 160px;
  }
  .side-name {
    font-size: 30px;
  }
  .side-specialize {
    font-size: 14px;
    font-weight: bold;
  }
  .side-desc {
    font-size: 20px;
  }

  .side-icons {
    height: 38px;
    width: 38px;
  }
  .side-icons svg {
    height: 18px;
    width: 18px;
  }
  .side-icons-container {
    gap: 20px;
  }
  .side-btn {
    width: 180px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: all 1s;
    font-weight: 500;
  }
}
@media (max-width: 1199px) and (min-width: 1000px) {
  .side-card {
    height: 580px;
    width: 280px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    background-color: rgb(34, 34, 34);
    box-shadow: 0 0 5px 1px rgb(185, 255, 71);
    color: rgb(236, 230, 230);
  }
  .side-img {
    height: 300px;
  }
  .img-container {
    height: 160px;
    width: 150px;
  }
  .side-name {
    font-size: 30px;
  }
  .side-specialize {
    font-size: 14px;
    font-weight: bold;
  }
  .side-desc {
    font-size: 22px;
  }

  .side-icons {
    height: 38px;
    width: 38px;
  }
  .side-icons svg {
    height: 18px;
    width: 18px;
  }
  .side-icons-container {
    gap: 20px;
  }
  .side-btn {
    width: 170px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: all 1s;
    font-weight: 500;
  }
}
@media (min-width: 1200px) {
  .side-card {
    height: 590px;
    width: 290px;
    gap: 35px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    background-color: rgb(34, 34, 34);
    box-shadow: 0 0 5px 1px rgb(185, 255, 71);
    color: rgb(236, 230, 230);
  }
  .side-img {
    height: 350px;
  }
  .img-container {
    height: 200px;
    width: 200px;
  }
  .side-name {
    font-size: 34px;
  }
  .side-specialize {
    font-size: 14px;
    font-weight: bold;
  }
  .side-desc {
    font-size: 22px;
  }

  .side-icons {
    height: 40px;
    width: 40px;
  }
  .side-icons svg {
    height: 20px;
    width: 20px;
  }
  .side-icons-container {
    gap: 20px;
  }
  .side-btn {
    width: 170px;
    height: 45px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: all 1s;
    font-weight: 600;
  }
}

.sidebar {
  max-height: max-content;
  width: 100%;
  margin: 20px 0;
}

.side-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: rgb(34, 34, 34);
  box-shadow: 0 0 5px 1px rgb(185, 255, 71);
  color: rgb(236, 230, 230);
  position: sticky;
  top: 3%;
}

.side-img {
  object-fit: cover;
  aspect-ratio: 2/2;
}

.img-container {
  border-radius: 12px;
  box-shadow: 0 0 2px 1px rgb(173, 173, 173);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.side-info-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-info-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.side-head-1,
.side-head-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-icons-container {
  display: flex;

  align-items: center;
  justify-content: center;
}

.side-icons {
  border: 1px solid rgb(78, 78, 78);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transition: all 1s;
}

.side-icons:hover {
  background-color: rgb(85, 85, 85);
}

.side-instagram {
  fill: white;
}
.side-linkedin {
  fill: white;
}
.side-fiverr {
  fill: white;
}
.side-github {
  fill: white;
}

.side-btn {
  border-radius: 25px;
  cursor: pointer;
  transition: all 1s;
  background: linear-gradient(to right, rgb(5, 146, 17), rgb(126, 180, 39));
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-btn:hover {
  background: linear-gradient(to right, rgb(126, 180, 39), rgb(35, 155, 35));
  transition: all 1s;
  color: rgb(53, 53, 53);
}
