@media (max-width: 600px) {
  .hero-container {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;

    position: relative;
  }
  .home-info {
    bottom: 10%;
  }
  .name-txt {
    margin-bottom: 20px;
  }

  .hero-section {
    height: 300px;
  }

  .hero-name {
    font-size: 26px;
    width: 300px;
    text-align: start;
  }
  .home-meet {
    width: 60px;
    height: 25px;
    font-weight: 500;
    font-size: 8px;
  }
  .home-work {
    width: 65px;
    height: 30px;
    gap: 5px;
    font-weight: 500;
    font-size: 8px;
  }
  .home-work svg {
    height: 15px;
    width: 15px;
  }
}

@media (max-width: 800px) and (min-width: 600px) {
  .hero-container {
    max-width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }

  .hero-name {
    font-size: 30px;
    width: 340px;
    text-align: start;
  }
  .home-meet {
    width: 70px;
    height: 30px;
    font-weight: 500;
    font-size: 10px;
  }
  .home-work {
    width: 80px;
    height: 34px;
    gap: 5px;
    font-weight: 500;
    font-size: 10px;
  }
  .home-work svg {
    height: 20px;
    width: 15px;
  }
  .home-info {
    bottom: 20%;
    gap: 50px;
  }
}

@media (max-width: 1000px) and (min-width: 800px) {
  .home-work {
    width: 110px;
    height: 42px;
    gap: 5px;
    font-weight: 500;
  }

  .hero-container {
    max-width: 100%;
    height: 700px;
    display: flex;
    overflow: hidden;
    position: relative;
  }

  .hero-name {
    font-size: 42px;
    width: 400px;
    text-align: start;
    line-height: 1.4;
  }
  .home-meet {
    width: 90px;
    height: 40px;
    font-weight: 500;
  }
  .home-work svg {
    height: 40px;
    width: 20px;
  }
  .home-info {
    bottom: 20%;
    gap: 50px;
  }
}

@media (max-width: 1200px) and (min-width: 1000px) {
  .hero-section {
    height: 580px;
  }

  .home-work {
    width: 110px;
    height: 40px;
    gap: 5px;
    font-weight: 600;
  }

  .hero-container {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }

  .hero-name {
    font-size: 52px;
    width: 100%;
    text-align: start;
  }
  .home-meet {
    width: 100px;
    height: 30px;
    font-weight: 600;
  }
  .home-work svg {
    height: 40px;
    width: 20px;
  }
  .home-info {
    bottom: 20%;
    gap: 50px;
  }
}
@media (min-width: 1200px) {
  .hero-section {
    height: 500px;
  }

  .home-work {
    width: 120px;
    height: 45px;
    gap: 5px;
    font-weight: 600;
    font-size: 16px;
  }

  .hero-container {
    max-width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
  }
  .hero-name {
    font-size: 58px;
    width: 100%;
    text-align: start;
  }
  .home-meet {
    width: 100px;
    height: 30px;
    font-weight: 600;
    font-size: 16px;
  }
  .home-work svg {
    height: 40px;
    width: 20px;
  }
  .home-info {
    bottom: 15%;
    gap: 50px;
  }
}
.home-info {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.home-meet {
  border-radius: 25px;
  outline: none;
  border: 1px solid rgb(236, 230, 230);
  background-color: transparent;
}
.name-txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home-work {
  border: 1px solid rgb(236, 230, 230);
  display: flex;
  align-items: center;
  outline: none;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px;

  transition: all 1s;
}

.home-work:hover {
  background-color: rgb(75, 74, 74);
}

.hero-section {
  width: 100%;
}
