@media (max-width: 350px) {
  .logo {
    display: none;
  }

  .contact-btn {
    width: 85px;
    height: 30px;
    font-size: 14px;
    text-align: center;
  }

  .nav-link {
    font-size: 14px;
  }

  .links {
    width: 60%;
  }
  .navbar {
    display: none;
  }
}

@media (max-width: 799px) and (min-width: 350px) {
  .logo {
    display: none;
  }

  .contact-btn {
    width: 100px;
    height: 33px;
    font-size: 16px;
    text-align: center;
  }

  .nav-link {
    font-size: 16px;
  }

  .links {
    width: 60%;
  }
  .navbar {
    display: none;
  }
}
@media (max-width: 999px) and (min-width: 800px) {
  .contact-btn {
    width: 120px;
    height: 45px;
    font-size: 14px;
  }

  .nav-link {
    font-size: 16px;
  }

  .links {
    width: 40%;
  }

  .navbar {
    display: flex;
  }
}

@media (max-width: 1199px) and (min-width: 1000px) {
  .contact-btn {
    width: 130px;
    height: 45px;
    font-size: 16px;
  }

  .nav-link {
    font-size: 18px;
  }

  .links {
    width: 40%;
  }

  .navbar {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .contact-btn {
    width: 150px;
    height: 50px;
    font-size: 18px;
  }

  .nav-link {
    font-size: 20px;
  }

  .links {
    width: 35%;
  }

  .navbar {
    display: flex;
  }
}

.navbar {
  height: 70px;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  transition: all 1s ease;
  position: sticky;
  top: 0;
  gap: 10px;
  padding: 0 20px 0 0;
  z-index: 4;
  border-radius: 50px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: normal 3s links;
}

.contact-btn {
  background: linear-gradient(to right, rgb(107, 145, 101), rgb(52, 150, 52));
  border: none;
  color: white;
  font-weight: 400;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  gap: 10px;
  text-align: center;
  z-index: 1;
}

.contact-btn::before {
  content: "";

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  background: linear-gradient(to right, rgb(5, 146, 17), rgb(126, 180, 39));
  transition: ease-in-out 1s;
  z-index: -1;
}

.contact-btn:hover::before {
  left: -150px;
  transition: ease-in-out 1s;
}

.contact-btn svg {
  height: 20px;
  width: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  border-radius: 25px;
}

.nav-link:active {
  border: 1px solid rgb(73, 251, 53);
}

.nav-link:hover {
  background: linear-gradient(20deg, rgb(112, 111, 111), rgb(73, 251, 53));

  background-clip: text;
  -webkit-text-fill-color: transparent;
}
