@media (min-width: 1200px) {
  .contact-header {
    font-size: 80px;
  }

  .contact-sec-header {
    font-size: 35px;
  }
  .contact-header-txt {
    margin-bottom: 100px;
  }

  #contact-form {
    width: 700px;
    gap: 70px;
    margin: 0 auto;
  }

  .contact-info {
    height: 30px;
    width: 100%;
  }

  input {
    font-size: 20px;
  }
  .fullname {
    gap: 100px;
  }

  .submit {
    width: 200px;
    height: 50px;
    font-size: 20px;
  }

  .sub-btn svg {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 1199px) and (min-width: 1000px) {
  .contact-header {
    font-size: 72px;
  }

  .contact-sec-header {
    font-size: 34px;
  }
  .contact-header-txt {
    margin-bottom: 100px;
  }

  #contact-form {
    width: 570px;
    gap: 60px;
    margin: 0 auto;
  }

  .contact-info {
    height: 30px;
    width: 100%;
  }

  input {
    font-size: 20px;
  }

  .fullname {
    gap: 90px;
  }

  .submit {
    width: 180px;
    height: 50px;
    font-size: 18px;
  }
  .sub-btn svg {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 999px) and (min-width: 800px) {
  .contact-header {
    font-size: 68px;
  }

  .contact-sec-header {
    font-size: 30px;
  }
  .contact-header-txt {
    margin-bottom: 70px;
  }

  #contact-form {
    width: 460px;
    gap: 40px;
    margin: 0 auto;
  }

  .contact-info {
    height: 30px;
    width: 100%;
  }

  input {
    font-size: 18px;
  }

  .fullname {
    gap: 50px;
  }

  .submit {
    width: 160px;
    height: 45px;
    font-size: 16px;
  }

  .sub-btn svg {
    height: 18px;
    width: 28px;
  }
}

@media (max-width: 799px) and (min-width: 600px) {
  .contact-header {
    font-size: 60px;
  }

  .contact-sec-header {
    font-size: 30px;
  }
  .contact-header-txt {
    margin-bottom: 50px;
  }

  #contact-form {
    width: 450px;
    gap: 40px;
    margin: 0 auto;
  }

  .contact-info {
    height: 25px;
    width: 100%;
  }

  input {
    font-size: 16px;
  }

  .fullname {
    gap: 60px;
  }

  .submit {
    width: 150px;
    height: 40px;
    font-size: 16px;
  }

  .sub-btn svg {
    height: 16px;
    width: 16px;
  }
}

@media (max-width: 599px) and (min-width: 350px) {
  .contact-header {
    font-size: 54px;
  }

  .contact-sec-header {
    font-size: 28px;
  }
  .contact-header-txt {
    margin-bottom: 50px;
  }

  #contact-form {
    width: 320px;
    gap: 50px;
    margin: 0 auto;
  }

  .contact-info {
    height: 20px;
    width: 100%;
  }

  input {
    font-size: 14px;
  }

  .fullname {
    gap: 40px;
  }

  .submit {
    width: 130px;
    height: 40px;
    font-size: 14px;
  }

  .sub-btn svg {
    height: 14px;
    width: 14px;
  }
}

@media (max-width: 349px) {
  .contact-header {
    font-size: 50px;
  }

  .contact-sec-header {
    font-size: 26px;
  }
  .contact-header-txt {
    margin-bottom: 50px;
  }

  #contact-form {
    width: 200px;
    gap: 40px;
    margin: 0 auto;
  }

  .contact-info {
    height: 15px;
    width: 100%;
  }

  input {
    font-size: 12px;
  }

  .fullname {
    gap: 40px;
  }

  .submit {
    width: 120px;
    height: 35px;
    font-size: 12px;
  }

  .sub-btn svg {
    height: 12px;
    width: 12px;
  }
}

.contact-header {
  color: transparent;
  background-clip: text;
  -webkit-text-stroke: 2px rgb(90, 90, 90);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-sec-header {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(177, 177, 177) 10%,
    rgb(92, 255, 73) 90%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: transparent;
}

.contact-header-txt {
  position: relative;
}
.contact {
  max-height: max-content;
  max-width: 100%;
  position: relative;
  margin: 100px 0;
}

#contact-form {
  display: flex;
  flex-direction: column;
}

.contact-info {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(98, 141, 28);
}

input,
.submit {
  color: rgb(236, 230, 230);
  outline: none;
}

.fullname {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-first {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.submit {
  background: linear-gradient(to right, rgb(5, 146, 17), rgb(126, 180, 39));
  cursor: pointer;
  border: none;
  transition: background 1s ease-in-out;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.submit:hover {
  background: linear-gradient(to right, rgb(126, 180, 39), rgb(35, 155, 35));
  transition: all 1s;
  color: rgb(53, 53, 53);
}

.sub-btn {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  align-items: center;
}
