@media (min-width: 1200px) {
  .contact-header {
    font-size: 98px;
  }

  .contact-container {
    margin: 100px 40px;
  }
  .contact-sec-header {
    font-size: 40px;
  }
  .contact-header-txt {
    margin-bottom: 100px;
  }

  #contact-form {
    height: 450px;
    width: 400px;
    gap: 40px;
    padding: 30px 20px;
  }

  .contact::after {
    box-shadow: 0px 0px 200px 80px rgb(156, 247, 146);
  }

  .contact::before {
    box-shadow: 0 0 200px 80px rgb(156, 247, 146);
  }
  .contact-info {
    height: 50px;
  }

  label {
    font-size: 18px;
  }

  input {
    font-size: 18px;
  }

  .fullname input {
    width: 160px;
  }

  .mail-info {
    gap: 60px;
  }

  .mail-info input {
    width: 350px;
  }
  .submit {
    background: linear-gradient(to right, rgb(76, 196, 86), rgb(32, 180, 32));
    width: 150px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: rgb(53, 53, 53);
    transition: all 1s;
  }
}

@media (max-width: 600px) {
  .contact-header {
    font-size: 54px;
  }

  .contact-container {
    margin: 50px 20px;
  }
  .contact-sec-header {
    font-size: 28px;
  }
  .contact-header-txt {
    margin-bottom: 50px;
  }

  #contact-form {
    height: 250px;
    width: 200px;
    gap: 20px;
    padding: 30px 20px;
  }

  .contact::after {
    box-shadow: 0 0 400px 40px rgb(156, 247, 146);
  }

  .contact::before {
    box-shadow: 0 0 400px 40px rgb(156, 247, 146);
  }
  .contact-info {
    height: 30px;
  }

  label {
    font-size: 14px;
  }

  input {
    font-size: 14px;
  }

  .fullname input {
    width: 75px;
  }

  .mail-info {
    gap: 10px;
  }

  .mail-info input {
    width: 160px;
  }
  .submit {
    background: linear-gradient(to right, rgb(76, 196, 86), rgb(32, 180, 32));
    width: 80px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    color: rgb(53, 53, 53);
    transition: all 1s;
  }
}

.contact-header {
  color: transparent;
  background-clip: text;
  -webkit-text-stroke: 2px rgb(90, 90, 90);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-sec-header {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(177, 177, 177) 10%,
    rgb(92, 255, 73) 90%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: transparent;
}

.contact-header-txt {
  position: relative;
}
.contact {
  height: 100%;
  max-width: 100%;
  position: relative;
}

#contact-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid rgb(94, 94, 94);
  border-radius: 12px;
}
.contact::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0%;
  animation: light 2s normal;
}

.contact::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  animation: light 2s normal;
}

.contact-info {
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid grey;
}

label {
  background: linear-gradient(
    to right,
    rgb(61, 100, 56) 10%,
    rgb(43, 243, 43) 90%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

input {
  padding: 0 10px;
  color: white;
}

.fullname {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-first {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mail-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  background: linear-gradient(to right, rgb(76, 196, 86), rgb(32, 180, 32));
  cursor: pointer;
  border: none;
  color: rgb(53, 53, 53);
  transition: all 1s;
}
.submit:hover {
  background: linear-gradient(to right, rgb(101, 168, 91), rgb(35, 155, 35));
  transition: all 1s;
  color: white;
}

.sub-btn {
  display: flex;
  justify-content: center;
}

@keyframes light {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
