@media (max-width: 600px) {
  .footer-details {
    display: flex;
    padding: 0 20px;
    font-size: 16px;
  }

  .footer-rights {
    height: 20px;

    justify-content: space-between;

    padding: 0 10px;
    font-weight: 400;
  }
  .footer-rights::after {
    box-shadow: 0 0 400px 20px rgb(156, 247, 146);
  }

  .footer-reserve {
    font-size: 8px;
  }
}

.footer {
  height: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 100%;
}

.footer-icons-container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.footer-details {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    to left,
    rgb(177, 177, 177) 30%,
    rgb(98, 158, 92) 50%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-rights {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  height: 50px;
  display: flex;
  align-items: center;
  background: linear-gradient(
    to right,
    white,
    rgb(161, 201, 166),
    rgb(73, 251, 53)
  );
  position: relative;
}
.footer-rights::after {
  content: "";
  position: absolute;
  top: 70px;
  /* box-shadow: 0 0 200px 80px rgb(156, 247, 146); */
  right: 50%;
  animation: light 2s normal;
}

.footer-reserve {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

a {
  fill: rgb(7, 7, 7);
}

a.fiverr:hover {
  fill: rgb(25, 173, 25);
  transition: ease-in 1s;
}
a.github:hover {
  fill: white;
  transition: ease-in 1s;
}
:where(a.linkedin, .instagram):hover {
  transition: ease-in 1s;
  fill: white;
}
