.navbar {
  height: 70px;
  background-color: rgb(15, 15, 15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1;
}
.logo {
  background: linear-gradient(90deg, rgb(92, 92, 92), rgb(163, 163, 163));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: cursive;
}

.links {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: end;
  animation: normal 3s links;
  opacity: 1;
}

.contact-btn {
  width: 120px;
  height: 40px;
  background: linear-gradient(to right, rgb(107, 145, 101), rgb(52, 150, 52));
  border: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-decoration: none;

  z-index: 1;
}

.contact-btn::before {
  content: "";

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: linear-gradient(to right, rgb(76, 196, 86), rgb(32, 180, 32));
  transition: ease-in-out 1s;
  z-index: -1;
}

.contact-btn:hover::before {
  left: -120px;
  transition: ease-in-out 1s;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.nav-link:hover {
  background: linear-gradient(20deg, rgb(112, 111, 111), rgb(73, 251, 53));

  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes links {
  0% {
    opacity: 0;
  }
}
