.header-txt::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 50%;
  box-shadow: 0 0 400px 80px rgb(156, 247, 146);
  animation: 2s normal light;
}

.projects-container {
  margin: 200px 40px;
  max-width: 100%;
}

.project {
  position: relative;
  height: 100%;
  width: 100%;
}

.header-txt {
  position: relative;
  z-index: 1;
}

.project-header {
  color: transparent;
  font-size: 98px;
  background-clip: text;
  -webkit-text-stroke: 2px rgb(90, 90, 90);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-sec-header {
  position: absolute;
  top: 30%;
  left: 43%;
  background: linear-gradient(
    to right,
    rgb(177, 177, 177) 10%,
    rgb(92, 255, 73) 90%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

.project-img {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  border-radius: 20px;
  background-color: rgb(28, 28, 28);
}

.slide-active {
  opacity: 1;
  transition: 1s ease-in-out;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  gap: 40px;
}

.slide {
  opacity: 0;
  transition: 1s ease-in-out;
  width: 0;
}

.slider {
  margin: 100px auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project-img:hover {
  transform: scale(1.1);
  transition: all 1s;
}
.project-name {
  background: linear-gradient(
    to right,
    rgb(177, 177, 177) 10%,
    rgb(92, 255, 73) 90%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arr-btn {
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: rgb(17, 17, 17);
  color: rgb(55, 160, 43);
  font-size: 40px;
}

.arr-btn:hover {
  background-color: rgb(34, 34, 34);
  transition: all 1s;
  color: black;
}

.prev-btn {
  top: 30%;
  left: 0%;
}

.next-btn {
  top: 30%;
  right: 0%;
}
