@media (max-width: 349px) {
  .header-txt::after {
    box-shadow: 0 0 200px 35px rgb(156, 247, 146);
  }
  .projects-container {
    margin: 30px 10px;
  }
  .project-header {
    font-size: 40px;
  }
  .project-sec-header {
    font-size: 22px;
  }

  .slider {
    margin: 30px auto;
    max-width: 250px;
    height: 200px;
  }

  .prev-btn {
    top: 25%;
    left: 0%;
  }

  .next-btn {
    top: 25%;
    right: 0%;
  }
  .arr-btn {
    height: 40px;
    width: 40px;
    font-size: 25px;
  }
  .slide-active {
    opacity: 1;
    width: 100%;
    height: 100%;
    font-size: 18px;
  }
  .slide {
    gap: 20px;
  }
}

@media (max-width: 599px) and (min-width: 350px) {
  .header-txt::after {
    box-shadow: 0 0 400px 40px rgb(156, 247, 146);
  }
  .projects-container {
    margin: 50px 20px;
  }
  .project-header {
    font-size: 54px;
  }
  .project-sec-header {
    font-size: 28px;
  }

  .slider {
    margin: 50px auto;
    max-width: 300px;
    height: 200px;
  }

  .prev-btn {
    top: 25%;
    left: 0%;
  }

  .next-btn {
    top: 25%;
    right: 0%;
  }
  .arr-btn {
    height: 40px;
    width: 40px;
    font-size: 25px;
  }
  .slide-active {
    opacity: 1;
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
  .slide {
    gap: 20px;
  }
}

@media (max-width: 799px) and (min-width: 600px) {
  .header-txt::after {
    box-shadow: 0 0 400px 100px rgb(156, 247, 146);
  }
  .projects-container {
    margin: 70px 40px;
  }
  .project-header {
    font-size: 66px;
  }
  .project-sec-header {
    font-size: 32px;
  }

  .slider {
    margin: 50px auto;
    max-width: 500px;
    height: 350px;
  }

  .prev-btn {
    top: 25%;
    left: 0%;
  }

  .next-btn {
    top: 25%;
    right: 0%;
  }
  .arr-btn {
    height: 60px;
    width: 60px;
    font-size: 35px;
  }
  .slide-active {
    opacity: 1;

    font-size: 32px;
  }
  .slide {
    gap: 30px;
  }
}

@media (max-width: 999px) and (min-width: 800px) {
  .header-txt::after {
    box-shadow: 0 0 400px 100px rgb(156, 247, 146);
  }
  .projects-container {
    margin: 100px 40px;
  }
  .project-header {
    font-size: 72px;
  }
  .project-sec-header {
    font-size: 38px;
  }

  .slider {
    margin: 70px auto;
    max-width: 600px;
    height: 400px;
  }

  .prev-btn {
    top: 25%;
    left: 0%;
  }

  .next-btn {
    top: 25%;
    right: 0%;
  }
  .arr-btn {
    height: 60px;
    width: 60px;
    font-size: 35px;
  }
  .slide-active {
    opacity: 1;

    font-size: 36px;
  }
  .slide {
    gap: 30px;
  }
}

@media (max-width: 1199px) and (min-width: 1000px) {
  .header-txt::after {
    box-shadow: 0 0 400px 100px rgb(156, 247, 146);
  }
  .projects-container {
    margin: 100px 40px;
  }
  .project-header {
    font-size: 80px;
  }
  .project-sec-header {
    font-size: 48px;
  }

  .slider {
    margin: 100px auto;
    max-width: 600px;
    height: 400px;
  }

  .prev-btn {
    top: 25%;
    left: 0%;
  }

  .next-btn {
    top: 25%;
    right: 0%;
  }
  .arr-btn {
    height: 60px;
    width: 60px;
    font-size: 35px;
  }
  .slide-active {
    opacity: 1;

    font-size: 36px;
  }
  .slide {
    gap: 40px;
  }
}

@media (min-width: 1200px) {
  .header-txt::after {
    box-shadow: 0 0 400px 100px rgb(156, 247, 146);
  }
  .projects-container {
    margin: 100px 40px;
  }
  .project-header {
    font-size: 98px;
  }
  .project-sec-header {
    font-size: 40px;
  }

  .slider {
    margin: 100px auto;
    max-width: 700px;
    height: 500px;
  }

  .prev-btn {
    top: 25%;
    left: 0%;
  }

  .next-btn {
    top: 25%;
    right: 0%;
  }
  .arr-btn {
    height: 80px;
    width: 80px;
    font-size: 40px;
  }
  .slide-active {
    opacity: 1;

    font-size: 40px;
  }
  .slide {
    gap: 40px;
  }
}

.header-txt::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 50%;
  animation: 2s normal light;
}

.projects-container {
  max-width: 100%;
}

.project {
  height: 100%;
  max-width: 100%;
  position: relative;
}

.header-txt {
  position: relative;
  z-index: 1;
}

.project-header {
  color: transparent;
  background-clip: text;
  -webkit-text-stroke: 2px rgb(90, 90, 90);
  display: flex;

  flex-direction: column;
  align-items: center;
}

.project-sec-header {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  background: linear-gradient(to right, rgb(161, 161, 161), rgb(73, 251, 53));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: transparent;
}

.project-img {
  width: 60%;
  height: 60%;
  line-height: 1.5;
  border-radius: 20px;
  background-color: rgb(28, 28, 28);
}

.slide {
  opacity: 0;
  transition: 2s ease-in-out;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-active {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project-img:hover {
  transform: scale(1.1);
  transition: all 1s;
}
.project-name {
  background: linear-gradient(
    to right,
    rgb(177, 177, 177) 10%,
    rgb(92, 255, 73) 90%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arr-btn {
  position: absolute;

  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: rgb(17, 17, 17);
  color: rgb(55, 160, 43);
}

.arr-btn:hover {
  background-color: rgb(34, 34, 34);
  transition: all 1s;
  color: black;
}
