.skills {
  height: 100%;
  width: 100%;
  position: relative;
}

.skills-container {
  margin: 100px 40px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

.skill-txt {
  color: white;
  font-size: 24px;
  width: 100%;

  border-radius: 20px;
  line-height: 1.5;
}

.skills-box {
  width: 900px;
  margin: 20px auto;
  display: flex;
  gap: 80px;
}

.skill-header {
  color: transparent;
  font-size: 98px;
  background-clip: text;
  -webkit-text-stroke: 2px rgb(90, 90, 90);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.skill-sec-header {
  position: absolute;
  top: 37%;
  left: 30%;
  background: linear-gradient(to right, rgb(161, 161, 161), rgb(73, 251, 53));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: transparent;

  font-size: 40px;
}

.skills::after {
  content: "";
  position: absolute;
  top: 45%;
  right: 0%;
  box-shadow: 0px 0px 200px 80px rgb(156, 247, 146);
  animation: light 2s normal;
}

.skills::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 0%;
  box-shadow: 0 0 200px 80px rgb(156, 247, 146);
  animation: light 2s normal;
}

.skill-icons {
  background-color: rgb(29, 29, 29);
  border-radius: 50%;
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px 1px rgb(50, 99, 45);
}

.skill-icons:hover {
  box-shadow: 0 0 35px 1px rgb(73, 251, 53);
  transition: all 0.5s;
}

.skill-icons svg {
  height: 50px;
  width: 50px;
}

@keyframes txt {
  0% {
    margin-right: -850px;
  }
  100% {
    margin-left: 0px;
  }
}
