@media (max-width: 349px) {
  .complete-container {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 599px) and (min-width: 350px) {
  .complete-container {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 799px) and (min-width: 600px) {
  .complete-container {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 999px) and (min-width: 800px) {
  .complete-container {
    gap: 70px;
  }
}
@media (min-width: 1200px) {
  .complete-container {
    gap: 70px;
  }
}

.complete-container {
  display: flex;
}
