@media (max-width: 349px) {
  .skills-container {
    gap: 50px;
  }

  .skill-txt {
    font-size: 16px;
  }

  .skill-header {
    font-size: 50px;
  }

  .skill-sec-header {
    font-size: 26px;
  }

  .skill-icons {
    height: 100px;
    width: 125px;
  }
  .skill-icons svg {
    height: 25px;
    width: 25px;
  }

  .skills-box {
    gap: 30px;
    justify-content: center;
  }
}

@media (max-width: 599px) and (min-width: 350px) {
  .skills-container {
    gap: 60px;
    margin: 0 30px;
  }

  .skill-txt {
    font-size: 18px;
  }

  .skill-header {
    font-size: 54px;
  }

  .skill-sec-header {
    font-size: 28px;
  }

  .skill-icons {
    height: 110px;
    width: 140px;
  }
  .skill-icons svg {
    height: 40px;
    width: 40px;
  }

  .skills-box {
    gap: 30px;
    justify-content: center;
  }
}

@media (max-width: 799px) and (min-width: 600px) {
  .skill-txt {
    font-size: 18px;
  }

  .skill-header {
    font-size: 60px;
  }

  .skill-sec-header {
    font-size: 30px;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 0 40px;
  }

  .skill-icons {
    height: 125px;
    width: 155px;
  }
  .skill-icons svg {
    height: 45px;
    width: 45px;
  }

  .skills-box {
    gap: 30px;
    justify-content: center;
  }
}

@media (max-width: 999px) and (min-width: 800px) {
  .skill-txt {
    font-size: 20px;
  }

  .skill-header {
    font-size: 68px;
  }

  .skill-sec-header {
    font-size: 30px;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 0 40px;
  }

  .skill-icons {
    height: 120px;
    width: 140px;
  }
  .skill-icons svg {
    height: 50px;
    width: 50px;
  }

  .skills-box {
    gap: 30px;
    justify-content: center;
  }
}

@media (max-width: 1199px) and (min-width: 1000px) {
  .skill-txt {
    font-size: 20px;
  }

  .skill-header {
    font-size: 72px;
  }

  .skill-sec-header {
    font-size: 34px;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 0 40px;
  }

  .skill-icons {
    height: 130px;
    width: 160px;
  }
  .skills-box {
    gap: 30px;
  }
  .skill-icons svg {
    height: 60px;
    width: 60px;
  }
}

@media (min-width: 1200px) {
  .skill-txt {
    font-size: 22px;
  }

  .skill-header {
    font-size: 80px;
  }

  .skill-sec-header {
    font-size: 35px;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .skill-icons {
    height: 140px;
    width: 180px;
  }

  .skills-box {
    gap: 30px;
  }
  .skill-icons svg {
    height: 70px;
    width: 70px;
  }
}

.skills {
  max-height: max-content;
  max-width: 100%;
  position: relative;
  margin: 100px 40px 100px 0;
}

.skills-container {
  display: flex;
  flex-direction: column;
}

.skill-txt {
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  line-height: 1.5;
}

.skills-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.skill-header {
  color: transparent;
  background-clip: text;
  -webkit-text-stroke: 2px rgb(90, 90, 90);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.skill-sec-header {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  background: linear-gradient(to right, rgb(161, 161, 161), rgb(73, 251, 53));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: transparent;
}

.skill-icons {
  border: 1px solid rgb(43, 43, 43);
  border-radius: 25px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.skill-icons:hover {
  box-shadow: 0 0 15px 1px rgb(74, 252, 68);
}
